<div id="mapDiv" class="row col-xs-12"></div>

@section scripts{
<script>
    require([
      "dojo/request",
      "dojo/_base/array",
      "esri/Map",
      "esri/views/MapView",
      "esri/symbols/SimpleMarkerSymbol",
      "esri/Graphic",
      "esri/layers/GraphicsLayer",
      "esri/geometry/Point",
      "dojo/domReady!"
    ], function (request, array, Map, MapView, SimpleMarkerSymbol, Graphic, GraphicsLayer, Point) {
        var map = new Map({
            basemap: "streets"
        });

        var view = new MapView({
            container: "mapDiv",  
            map: map,
            //center: [-80, 35],            
            zoom: 3
        });

        //fetch the data
        var markerUrl = "/api/well";
        request(markerUrl, { handleAs: "json" }).then(function (response) {
            var markerSymbol = new SimpleMarkerSymbol({
                color: [226, 119, 40],
                outline: { // autocasts as new SimpleLineSymbol()
                    color: [255, 255, 255],
                    width: 2
                }
            });
            
            var graphics = array.map(response, function (item) {
                var point = new Point(item);
                
                //var marker = MarkerSymbol.fromJSON(item);
                
                return new Graphic({
                    geometry: point,
                    symbol: markerSymbol
                });
            });

            

            //add markers to the map.            
            view.graphics.addMany(graphics);

            //var layer = new GraphicsLayer();            
            //layer.addMany(graphics);

            //map.add(layer);

        });


    });
</script>

   }