<div class="container">
    <div id="mapView" class="row col-xs-12"></div>
</div>

<div data-dojo-type="dijit/Dialog" id="test" title="Name and Address">
    Testing.
</div>

<script>
    require([
      "esri/Map",
      "esri/views/MapView",
      "esri/Graphic",
      "esri/geometry/Point",
      "esri/symbols/SimpleMarkerSymbol",
      "dojo/_base/array",
      "dojo/request",
      "dojo/json",
      "dijit/Dialog",
      "dojo/dom",
      "dojo/domReady!"
    ], function (Map, MapView, Graphic, Point, SimpleMarkerSymbol, array, request, json, Dialog, dom) {
        var self = this;
        self.dom = dom;

        var wellLocatonUrl = "/api/well";
        var wellProductionUrl = "/api/well";
        var productionInformation;

        var map = new Map({
            basemap: "streets"
        });

        var view = new MapView({
            container: "mapView",
            map: map,
            center: [-86, 36],
            zoom: 8
        });

        var markerSymbol = new SimpleMarkerSymbol({
            color: [226, 119, 40],
            outline: { // autocasts as new SimpleLineSymbol()
                color: [255, 255, 255],
                width: 1
            }
        });
        
        request.get(wellLocatonUrl, { handleAs: "json" }).then(function (response) {
            loadMarkers(response, view);
        });
        

        // Listen to the click event on the map view.

        view.on("click", function (evt) {
            this.hitTest(evt.screenPoint).then(function (response) {
                request.get(wellProductionUrl + "/test", { handleAs: "json"})
                    .then(function (response) {
                        productionInformation = response;
                        debugger;
                        
                        dijit.byId("dialogOne").show();
                    });

                var graphics = response.results;
                graphics.forEach(function (graphic) {
                    console.log(graphic);
                });
            });
            console.log("click event: ", evt.mapPoint);

        });

        function loadMarkers(pointJSON, view) {
            
            var pointGraphics = array.map(pointJSON, function (item) {
                var point = Point.fromJSON(item);
                
                return new Graphic({
                    geometry: point,
                    symbol: markerSymbol,
                    attributes: item

                });
            });

            view.graphics.addMany(pointGraphics);
        }

    });
</script>